 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 10px solid rgb(116, 61, 23);
    box-sizing: border-box;
    /* height: 50vh; */
}

.item {
    padding: 10px;
    font-size: 2.5rem;
}
.item-01 {
    background: red;
}

.item-02 {
    background: magenta;
}

.item-03 {
    background: violet;
}

.item-04 {
    background: blueviolet;
}

.item-05 {
    background: indigo;
}

.item-06 {
    background: blue;
}

.item-07 {
    background: green;
}

.item-08 {
    background: yellowgreen;
}

.item-09 {
    background: yellow;
}

.item-10 {
    background: orange;
}


.item-11 {
    background: orangered;
} 
.item-12 {
                background: orange;
            }
